.author {
    span {
        justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
        border-radius: 50%;
        color: #1b968d;
        background: #c4f4f0;
    }
}
li {
    list-style: none;
}